@charset "utf-8";

body {
  color: #5a5a5a;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.025em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner {
  width: 90.625%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  padding: 25px 0;
  background-color: rgba(43, 43, 43, .8);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnav {
  display: none;
}

/* updates */
.updates-item {
  margin-bottom: 60px;
  background-color: #f4f4f4;
}

.updates-pic {
  position: relative;
}

.hot::after {
  content: "HOT";
  display: inline-block;
  background-color: #ED145B;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.updates-text {
  padding: 30px;
}

@media (min-width:640px) {
  .updates-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .updates-item:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .updates-pic {
    width: 48.07%;
  }

  .updates-text {
    width: 47.11%;
    padding: 0;
  }
}
