@charset "utf-8";

body {
  color: #404040;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner {
  max-width: 1200px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-transform: uppercase;
}

/* contents */
.information-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 15px;
}

.information-item dt {
  width: 92px;
  border-right: 2px solid;
  border-bottom: 1px solid;
  color: #985E5B;
}

.information-item dd {
  flex: 1;
  margin-left: 30px;
  word-break: break-all;
}

@media (min-width:640px) {

  /* contents */
  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services {
    width: 58.33%;
  }

  .side {
    width: 33.33%;
  }

  .services .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services article {
    width: 47.14%;
    display: flex;
    flex-direction: column;
  }

  .services article .btn {
    margin-top: auto;
  }
}
