@charset "utf-8";

h1{
  text-align: center;
}

h2{
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.5;
  color: #000000;
  font-family:'Times New Roman', Times, serif;
}

p{
  text-align: center;
}

#info{
  text-align: right;
}

.copyright{
  font-weight: bold;
}
