@charset "utf-8";

body{
  color: #404040;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ブラウザの中央にコンテンツを持ってくるためのクラス */
.inner{
  max-width: 1200px; /* PCデザインのガイドからガイドまで */
  width: 87.5%; /* スマホデザインの内容の横幅 / スマホデザインのアートボードの横幅 * 100 % */
  margin-left: auto;
  margin-right: auto;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

header ul{
  display: flex;
}

header li{
  margin-left: 20px;
}

/* about */
.about{
  margin-bottom: 100px;
  padding: 400px 0 100px;
  background: url(./images/pic_main.png) no-repeat center center / cover;
  color: #fff;
}

/* PC表示（640px） */
@media (min-width:640px){
  .content{
    display: flex;
    justify-content: space-between;
  }

  .services{
    width: 58.3%;
    background-color: #ddd;
  }

  .side{
    width: 33.3%;
    background-color: #300;
  }
}
