@charset "utf-8";

body{
  color: #676767;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.inner{
  max-width: 800px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header{
  background-color: #0864B1;
  color: #fff;
}

header .inner{
  padding: 40px 0 80px;
  background: url(./images/bg_header.png) no-repeat right center;
}

header .top{
  text-align: center;
}

header ul{
  display: flex;
  justify-content: center;
}

header li{
  margin: 0 15px;
}

/* PC表示（640px以上） */
@media (min-width:640px){
  header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header li{
    margin: 0 0 0 30px;
  }
}
