@charset "utf-8";

body{
  color: #000;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0;
}

img{
  vertical-align: bottom;
}

h2{
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
}

h2 span{
  color: #f00;
}

em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

.inner{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header{
  margin:  50px 0;
}

/* about */
.about{
  min-width: 900px;
  margin-bottom: 60px;
  padding: 155px 0;
  color: #fff;
  text-align: center;
  background: url(./images/bg_mv.png) center center/cover no-repeat;
}

.about a{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 0;
  background-color: #f00;
}

/* testimonials */
.testimonials{
  min-width: 900px;
  background: url(./images/bg_testimonials.png) no-repeat center center/cover;
}
